@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;300;400;500;700;900&display=swap");
.font-sm {
  font-size: 0.875rem;
}

/* reset css */
* {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
section,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
  padding-left: 0;
  line-height: initial;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

:focus {
  outline: 0;
}

ins {
  text-decoration: none;
}

del {
  text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: 0;
}

* {
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  /* 捲軸樣式 */
  scrollbar-color: #cccccc #eeeeee;
  scrollbar-width: thin;
}
*::after, *::before {
  box-sizing: border-box;
}
*::-webkit-scrollbar {
  width: 0.375rem;
  height: 0.375rem;
}
*::-webkit-scrollbar-track {
  background: #eeeeee;
}
*::-webkit-scrollbar-thumb {
  background: #cccccc;
  border-radius: 0.375rem;
}
*::-webkit-scrollbar-thumb:hover {
  background: #dddddd;
}

/* 反白選取樣式 */
::-moz-selection {
  color: #ffffff;
  background: #2B3843;
}

::selection {
  color: #ffffff;
  background: #2B3843;
}

::-moz-selection:window-inactive {
  color: #333333;
  background: #cccccc;
}

::selection:window-inactive {
  color: #333333;
  background: #cccccc;
}

.no-selection {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

body {
  color: #2b3843;
  font-family: "PingFang", "Noto Sans TC", Arial, sans-serif;
}
body.modal-open {
  overflow: hidden;
}

img {
  max-width: 100%;
  max-height: 100%;
}

h2 {
  font-size: 2.125rem;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.4;
}

h4 {
  font-size: 1.25rem;
  line-height: 1.4;
}

p {
  line-height: 1.5;
}

a {
  color: #2B3843;
  transition-property: color;
  display: inline-block;
  border-bottom: 0.0625rem solid #2B3843;
  padding-bottom: 0;
  text-decoration: none;
}
@media (hover: hover) {
  a:hover {
    color: #15212C;
    border-bottom: 0.0625rem solid #15212C;
  }
}

i {
  display: flex;
  align-items: center;
  justify-content: center;
}

button {
  cursor: pointer;
  background: none;
}

.btnBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1rem;
}
.btnBox .btn {
  flex: 1;
}
@media (max-width: 1024px) {
  .btnBox {
    flex-direction: column-reverse;
    gap: 0.5rem;
  }
  .btnBox .btn {
    width: 100%;
  }
}

.btn {
  min-width: 7rem;
  padding: 0.625rem 1rem;
  font-family: inherit;
  font-size: 1rem;
  line-height: 1.375;
  font-weight: 400;
  border-radius: 0.5rem;
  border: 0.0625rem solid #2B3843;
  background-color: #2B3843;
  color: #ffffff;
  cursor: pointer;
  position: relative;
}
.btn:disabled, .btn[disabled] {
  border: 1px solid #cccccc;
  background-color: #cccccc;
  color: #ffffff;
  cursor: auto;
}
@media (hover: hover) {
  .btn:disabled:hover, .btn[disabled]:hover {
    background-color: #cccccc;
    border-color: #cccccc;
  }
}
@media (hover: hover) {
  .btn:hover {
    background-color: #15212C;
    border-color: #15212C;
  }
}
.btn.btn-outline {
  background-color: #ffffff;
  color: #2B3843;
}
@media (hover: hover) {
  .btn.btn-outline:hover {
    background-color: rgba(43, 56, 67, 0.1);
  }
}
.btn.btn-txt {
  background: none;
  color: #cccccc;
  border: none;
}
@media (hover: hover) {
  .btn.btn-txt:hover {
    color: #999999;
  }
}
.btn.btn-secondary {
  background-color: #eeeeee;
  padding: 0.375rem;
  border: none;
  color: #2B3843;
  font-size: 0.75rem;
  font-weight: 500;
  border-radius: 0.375rem;
  transition: background-color 0.2s;
}
@media (hover: hover) {
  .btn.btn-secondary:hover {
    background-color: #e1e1e1;
  }
}
.btn span.alert {
  position: absolute;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #e72e6b;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  bottom: calc(100% + 0.375rem);
  left: 50%;
  transform: translate(calc(-100% - 32px), 0);
  min-width: max-content;
}
.btn span.alert:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0.75rem;
  background-color: #e72e6b;
  width: 1.25rem;
  height: 1rem;
  clip-path: polygon(0 0, 100% 75%, 75% 0);
}

ol li {
  display: flex;
  gap: 0.25rem;
}
ol li span {
  flex-shrink: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  border-radius: 1.25rem;
  font-size: 0.75rem;
  width: 1rem;
  height: 1rem;
  background-color: #999999;
  color: #ffffff;
  transform: scale(0.75) translateY(0.125rem);
}

input {
  outline: none;
  border: none;
  background-color: #f7f7f7;
  border-radius: 0.375rem;
  padding: 1.125rem 0.5rem;
  font-size: 0.9375rem;
  width: 100%;
}
input::placeholder {
  color: #cccccc;
}
input:disabled {
  color: #cccccc;
  background-color: #f7f7f7;
}

.inputBox {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.inputBox label {
  font-size: 0.875rem;
  color: #2b3843;
  line-height: 1.5;
}
.inputBox .tipBox {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.inputBox .tipBox p {
  font-size: 0.875rem;
  color: #999999;
}
.inputBox .tipBox p.error {
  color: #fc5555;
}
.inputBox .tipBox a {
  font-size: 0.875rem;
}
.inputBox .tipBox span {
  font-size: 0.75rem;
  color: #999999;
}

.input-icon {
  position: relative;
}
.input-icon i {
  position: absolute;
  top: 50%;
  right: 0.5rem;
  transform: translateY(-50%);
  font-size: 2rem;
  cursor: pointer;
  color: #999999;
}

.input-btn {
  flex: 2;
  position: relative;
}
.input-btn .sendBtn {
  height: 2rem;
  padding: 0.375rem 1rem;
  box-sizing: border-box;
  font-size: 0.875rem;
  color: #2B3843;
  border-radius: 0.8rem;
  position: absolute;
  top: 0.65rem;
  right: 0.5rem;
}
@media (hover: hover) {
  .input-btn .sendBtn:hover {
    color: #ffffff;
    background-color: #2B3843;
  }
}
@media (hover: hover) {
  .input-btn .sendBtn:disabled:hover {
    color: #2B3843;
    background: none;
    cursor: auto;
  }
}

.input-checkbox input {
  display: none;
  width: auto;
  cursor: pointer;
}
.input-checkbox input + label {
  position: relative;
  padding-left: 25px;
  font-size: 0.875rem;
  cursor: pointer;
}
.input-checkbox input + label a {
  font-weight: 400;
}
.input-checkbox input + label::before {
  content: "";
  width: 1.25rem;
  height: 1.25rem;
  display: inline-block;
  background: #ffffff;
  border: 1px solid #999999;
  border-radius: 0.25rem;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  transition: all 0.3s;
}
.input-checkbox input + label::after {
  content: "";
  width: 0;
  height: 0;
  border: 0 solid #ffffff;
  border-top: 0 none;
  border-right: 0 none;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transform-origin: left top;
  transform-origin: left top;
  position: absolute;
  top: 50%;
  left: 4px;
}
.input-checkbox input:checked + label::before {
  border-color: #2B3843;
  background-color: #2B3843;
}
.input-checkbox input:checked + label::after {
  border-width: 2px;
  animation: checkbox-checked 0.5s forwards;
}
@keyframes checkbox-checked {
  50% {
    width: 0;
    height: 6px;
  }
  100% {
    width: 12px;
    height: 6px;
  }
}

.alert {
  padding: 1.25rem 1.5rem;
  border-radius: 0.375rem;
  background-color: #f7f7f7;
  font-size: 0.875rem;
}
.alert p {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}
.alert p::before {
  padding-right: 0.25rem;
  font-family: "icomoon";
  content: "\e916";
  font-size: 1.25rem;
  color: #2B3843;
  line-height: 1;
}

.empty {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.875rem;
  color: #666666;
  text-align: center;
}
.empty.svg .state-img {
  width: 8.125rem;
  height: auto;
  margin: 0 auto;
}
.empty.img {
  padding: 2.5rem 0;
}
.empty.img .state-img {
  width: 5.125rem;
  height: auto;
  margin: 0 auto;
}

header {
  position: fixed;
  left: 0;
  right: 0;
  top: 2.5rem;
  text-align: center;
  padding: 1rem 0;
  background-color: #ffffff;
  border-bottom: 0.0625rem solid #f0f0f0;
  z-index: 11;
}
header .cont {
  padding: 0 10rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1024px) {
  header .cont {
    padding: 0 1.25rem;
  }
}
header .cont .lateral {
  min-width: 3.875rem;
}
header .cont .lateral .btn {
  min-width: auto;
  padding: 0.5rem 1rem;
  font-size: 0.875rem;
}
header .cont .lateral .btn.loggedin {
  color: #2B3843;
  border: 1px #2B3843 solid;
  background-color: #ffffff;
}
header .cont .center {
  flex: auto;
}
header.hidden {
  top: -4.375rem;
}
header.hidden + .container .point-info {
  top: 3.75rem;
}
header.hidden + .container .records .tab {
  top: 2.5rem;
}
header.hidden + .container .records .tags {
  top: 5.5625rem;
}
header::before {
  content: "";
  position: absolute;
  z-index: 0;
  top: 100%;
  left: 0;
  right: 0;
  height: 0.25rem;
  background-color: #ffffff;
  border-top: 0.0625rem solid #f0f0f0;
}
@media (max-width: 1024px) {
  header {
    top: 4.5rem;
  }
  header.hidden + .container .records .tab {
    top: 4.5rem;
  }
  header.hidden + .container .records .tags {
    top: 7.5625rem;
  }
}

.breadcrumb {
  display: flex;
  gap: 0.75rem;
  height: max-content;
  margin-bottom: 1.25rem;
  align-items: center;
}
.breadcrumb li {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  color: #959ba1;
  font-size: 0.8125rem;
  cursor: default;
}
.breadcrumb li a {
  display: flex;
  border: none;
  color: #959ba1;
}
.breadcrumb li:not(:last-child)::after {
  font-family: "icon";
  content: "\ea05";
}
.breadcrumb li:last-child {
  flex: 1;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
@media (max-width: 516px) {
  .breadcrumb {
    gap: 0.25rem 0.5rem;
    flex-wrap: wrap;
  }
  .breadcrumb li {
    gap: 0.5rem;
  }
}

.container {
  min-height: calc(100svh - 2.875rem);
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem;
  text-align: center;
  font-size: 0.8125rem;
  background-color: #ffffff;
  color: #999999;
  border-top: 0.0625rem solid #f0f0f0;
}
footer.inpage_fixed {
  position: fixed;
  bottom: 0;
}

.tab {
  display: flex;
  border-bottom: 0.0625rem solid #eff1f3;
  background-color: #ffffff;
}
.tab > li {
  height: 3.0625rem;
  flex: 1;
  padding: 0.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-bottom: 0.1875rem solid transparent;
  margin-bottom: -0.0625rem;
  font-size: 0.9375rem;
  color: #666666;
}
.tab > li.active {
  color: #2b3843;
  border-color: #2B3843;
}
@media (hover: hover) {
  .tab > li:hover {
    color: #2b3843;
  }
}

.tags {
  padding: 1.25rem 0;
  width: 100%;
  overflow-x: auto;
  background-color: #ffffff;
}
.tags > ul {
  display: flex;
  gap: 0.75rem;
  width: auto;
}
.tags > ul > li {
  border-radius: 0.25rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  background-color: #f7f7f7;
  color: #666666;
  min-width: max-content;
}
.tags > ul > li.active {
  background-color: #2b3843;
  color: #ffffff;
}
.tags::-webkit-scrollbar, .tags::-webkit-scrollbar-track {
  display: none;
}

.floatingBtn {
  width: 40rem;
  display: table;
  margin: 0 auto;
  position: fixed;
  bottom: 3.25rem;
  left: 0;
  right: 0;
  padding: 1rem 1.5rem;
  border-radius: 0.75rem;
  background-color: #ffffff;
  box-shadow: 0 0 1.25rem 0 rgba(221, 233, 242, 0.7);
  opacity: 0;
  visibility: hidden;
  animation: showBtn 0.5s linear forwards;
  animation-delay: 0.5s;
  z-index: 10;
}
.floatingBtn ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.75rem;
}
.floatingBtn ul li {
  position: relative;
  flex: 1;
}
.floatingBtn ul li.ic-trade-parent {
  flex: 0;
}
.floatingBtn button {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 400;
}
.floatingBtn button::before {
  font-family: "icomoon";
  font-size: 1.25rem;
}
.floatingBtn button.ic-trade {
  width: auto;
  min-width: auto;
  padding: 0.125rem 1rem;
  color: #2b3843;
  background-color: transparent;
  flex-direction: column;
  gap: 0;
  font-size: 0.6875rem;
  border-color: transparent;
}
.floatingBtn button.ic-trade::before {
  content: "\e912";
  font-size: 1.5rem;
}
.floatingBtn button span.alert {
  position: absolute;
  font-size: 0.75rem;
  color: #ffffff;
  background-color: #e72e6b;
  padding: 0.25rem 0.5rem;
  border-radius: 0.25rem;
  bottom: calc(100% + 0.375rem);
  left: 50%;
  transform: translate(calc(-100% - 32px), 0);
  min-width: max-content;
}
.floatingBtn button span.alert:after {
  content: "";
  position: absolute;
  top: 100%;
  right: 0.75rem;
  background-color: #e72e6b;
  width: 1.25rem;
  height: 1rem;
  clip-path: polygon(0 0, 100% 75%, 75% 0);
}
@keyframes showBtn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}
@media (max-width: 1024px) {
  .floatingBtn {
    width: 100svw;
    bottom: 0;
    border-radius: 0;
    padding: 1.25rem;
  }
  .floatingBtn.mission {
    bottom: 2.5rem;
    padding: 0.5rem 1rem;
  }
}

.mask {
  width: 100dvw;
  height: 100dvh;
  background-color: rgba(0, 0, 0, 0.75);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.assemble {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
}
.assemble ul {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.assemble li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  font-size: 1rem;
  font-weight: 500;
  color: #ffffff;
  white-space: nowrap;
}
.assemble button {
  min-width: 3.375rem;
  width: 3.375rem;
  height: 3.375rem;
  padding: 0;
  border-radius: 6.25rem;
  background-color: #ffffff;
  transition: all 0.3s;
  border-color: transparent !important;
}
.assemble button::before {
  color: #2b3843;
  font-size: 1.5rem;
}
.assemble button.sale::before {
  content: "\e90d";
}
.assemble button.exchange::before {
  content: "\e90b";
}
.assemble button.give::before {
  content: "\e90c";
}
.assemble button.close::before {
  content: "\e913";
}
.assemble button.convert::before {
  content: "\e920";
}
.assemble button.setting::before {
  content: "\e91a";
}
@media (hover: hover) {
  .assemble button:hover {
    transition: all 0.3s;
    box-shadow: 0 0 1.25rem 0 rgba(221, 233, 242, 0.5);
    background-color: #f7f7f7;
  }
}

.toastBox {
  display: flex;
  max-width: max-content;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: 0.5rem;
  padding: 0.5rem 1.75rem;
  margin: 0 auto;
  border-radius: 0.5rem;
  color: #ffffff;
  background-color: #2b3843;
  position: fixed;
  top: -40px;
  left: 0;
  right: 0;
  z-index: 999;
}
.toastBox p {
  color: #ffffff;
}
.toastBox.ic-true::before, .toastBox.ic-false::before {
  font-size: 1.25rem;
}
.toastBox.ic-true::before {
  font-family: "icomoon";
  content: "\e907";
}
.toastBox.ic-false::before {
  font-family: "icomoon";
  content: "\e908";
}

.modal-dialog {
  width: 28.125rem;
  max-width: calc(100svw - 2.5rem);
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 1.25rem;
  padding: 2.5rem;
  z-index: 100;
}
@media (max-width: 516px) {
  .modal-dialog {
    padding: 2.5rem 1.25rem;
  }
}
.modal-dialog .topup-card.lock {
  padding: 0;
  box-shadow: none;
}
.modal-close-btn {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  color: #999999;
  cursor: pointer;
}
.modal-container {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.modal-container .btnBox {
  padding-top: 0.5rem;
  flex-direction: column;
}
.modal-container .btnBox button {
  width: 100%;
  gap: 0.75rem;
}
.modal-title p {
  font-size: 0.875rem;
  margin-top: 0.5rem;
}
.modal-slot {
  min-height: 2.5rem;
  font-size: 0.875rem;
  line-height: 1.2;
}
.modal-slot span {
  padding: 0 0.25rem;
  color: #ff9500;
}
.modal-content {
  padding: 1.5rem 2.5rem;
  text-align: center;
}
.modal-content img {
  max-width: 9.375rem;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 99;
}

.stepBox {
  margin: 0 auto 1.25rem;
}
@media (max-width: 1024px) {
  .stepBox {
    width: 80%;
  }
}
.stepBox ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  counter-reset: step;
}
.stepBox li {
  width: 33.3333333333%;
  font-size: 0.75rem;
  color: #2b3843;
  text-align: center;
  position: relative;
}
.stepBox li:nth-child(1):before {
  content: "1";
}
.stepBox li:nth-child(2):before {
  content: "2";
}
.stepBox li:nth-child(3):before {
  content: "3";
}
.stepBox li:before {
  display: block;
  margin: 0 auto 0.5rem auto;
  width: 24px;
  height: 24px;
  box-sizing: border-box;
  font-size: 0.875rem;
  line-height: 20px;
  color: #dddddd;
  text-align: center;
  border: 2px solid #dddddd;
  background-color: #ffffff;
  border-radius: 50%;
  position: relative;
  z-index: 2;
}
.stepBox li:after {
  content: "";
  width: 100%;
  height: 2px;
  background-color: #f7f7f7;
  top: 12px;
  left: -50%;
  position: absolute;
  z-index: 1;
}
.stepBox li:first-child:after {
  content: none;
}
.stepBox li.active:before, .stepBox li.finish:before {
  color: #ffffff;
  border: 2px solid #2B3843;
  background-color: #2B3843;
}
.stepBox li.active:after, .stepBox li.finish:after {
  background-color: #2B3843;
}
.stepBox li.finish:before {
  font-family: "icomoon";
  content: "\e91d";
}

.btn-load-more__dots {
  display: block;
}
.btn-load-more__dots .btn-load-more__dot {
  display: inline-block;
  margin-right: 0.125rem;
  margin-left: 0.125rem;
  width: 0.25rem;
  height: 0.25rem;
  background-color: #2b3843;
  border-radius: 9px;
  animation: ani-dot 1s infinite alternate;
}
.btn-load-more__dots .btn-load-more__dot.dot-2 {
  animation-delay: 0.12s;
}
.btn-load-more__dots .btn-load-more__dot.dot-3 {
  animation-delay: 0.24s;
}
@-webkit-keyframes ani-dot {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.3);
  }
}

.btn-load-more {
  display: none;
  width: 102px;
  height: 36px;
  border-radius: 0 8px 8px 0;
  background-color: #2b3843;
  background: none;
  cursor: auto;
  position: absolute;
  top: 0.6rem;
  right: 0;
}
.btn-load-more::after {
  content: " ";
  display: block;
  margin: 0 auto;
  margin-top: 0.5rem;
  font-size: 0.75rem;
}
.btn-load-more .btn-load-more__dots {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-load {
  display: none;
}
.btn-load .btn-load-more__dot {
  margin-bottom: 5px;
  background-color: #ffffff;
}

.skeleton {
  display: flex;
  width: calc(100svw - 10rem - 10rem);
  height: calc(100svh - 6.625rem);
  gap: 2.5rem;
  background-color: #ffffff;
  z-index: 99;
}
@media (max-width: 1024px) {
  .skeleton {
    width: calc(100svw - 1.25rem - 1.25rem);
    flex-direction: column;
  }
}
@media (max-width: 1024px) {
  .skeleton .point-info {
    width: calc(100svw - 1.25rem - 1.25rem);
  }
}
.skeleton .point-info .point-title p {
  height: 1.25rem;
}
.skeleton .point-info .point-title h2 {
  width: 7rem;
  height: 3rem;
}
.skeleton .point-info .point-detail {
  flex-direction: column;
  gap: 0.5rem;
}
.skeleton .point-info .point-detail > div {
  flex: auto;
  height: 1.5rem;
}
.skeleton .point-info .index-note {
  height: 3.875rem;
  padding: 0;
  border-radius: 0;
  background: #dddddd;
}
.skeleton .records .tab {
  padding-top: 3rem;
}
.skeleton .records .tab li {
  height: 0.1875rem;
  padding: 0;
  border: none;
}
.skeleton .records .tags li {
  width: 4.5rem;
  height: 1.75rem;
  padding: 0;
}
.skeleton .records .latest-list li .item-img {
  width: 4.375rem;
  height: 4.375rem;
  border-radius: 0.75rem;
}
.skeleton .records .latest-list li .item-info {
  width: 100%;
}
.skeleton .records .latest-list li .item-info .item-title {
  width: 100%;
  height: 1.5rem;
}
.skeleton .records .latest-list li .item-info .item-date {
  width: 100%;
  height: 1.0625rem;
}
.skeleton .loading {
  width: 100%;
  overflow: hidden;
  background: #dddddd;
  position: relative;
}
.skeleton .loading::after {
  content: "";
  display: block;
  position: absolute;
  left: -10%;
  width: 50%;
  height: 120%;
  background-image: linear-gradient(to right, #dddddd, #eeeeee);
  transform: skew(-30deg);
  animation: loading infinite 2s ease;
}

@keyframes loading {
  0% {
    left: -50%;
  }
  100% {
    left: 110%;
  }
}
.notice {
  position: fixed;
  font-size: 1rem;
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  padding: 0.75rem;
  color: #ffffff;
  background: linear-gradient(170deg, #e72e6b 70%, #f3973d 90%);
  z-index: 999;
}
@media (max-width: 1024px) {
  .notice {
    font-size: 0.75rem;
    line-height: 2;
    text-align: left;
    background: linear-gradient(150deg, #e72e6b 60%, #f3973d 90%);
  }
}

.container.index {
  padding: 6.625rem 10rem 5.5rem;
  display: flex;
  flex-wrap: wrap;
  gap: 2.5rem;
}
@media (max-width: 1024px) {
  .container.index {
    padding: 10rem 1.25rem 1.5rem;
    gap: 1.25rem;
    flex-direction: column;
  }
}

.point-info {
  flex: 1;
  align-self: flex-start;
  position: sticky;
  top: 8rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 1.25rem;
  box-shadow: 0 0 1.25rem #dde9f2;
}
.point-info .point-title {
  display: flex;
  flex-wrap: wrap;
  gap: 0.25rem;
  align-items: flex-end;
  justify-content: center;
}
.point-info .point-title p {
  flex: 100%;
}
.point-info .point-detail {
  display: flex;
  padding: 0.75rem 0;
}
.point-info .point-detail div {
  flex: 1;
  text-align: center;
}
.point-info .point-detail div + div {
  border-left: 0.0625rem solid #dddddd;
}
.point-info .index-note {
  background-color: #f7f7f7;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  text-align: left;
}
.point-info .index-note p {
  color: #999999;
}
.point-info .index-note .info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
.point-info .index-note .info::before {
  font-family: "icomoon";
  content: "\e916";
}
@media (max-width: 1024px) {
  .point-info {
    width: 100%;
    position: inherit;
    flex-grow: 0;
  }
}

.records {
  flex: 1;
}
.records .tab {
  position: sticky;
  top: 5rem;
  transition-property: top;
}
.records .tags {
  position: sticky;
  top: 7.4375rem;
}
.records .empty {
  display: flex;
  width: 100%;
  min-height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.25rem;
}
.records .empty p {
  text-align: center;
  font-size: 0.9375rem;
  color: #666;
}
.records .latest-list > li,
.records .history-list > li {
  padding: 1rem 0;
}
.records .latest-list > li:not(:last-child),
.records .history-list > li:not(:last-child) {
  border-bottom: 0.0625rem solid #eff1f3;
}
.records .latest-list > li a,
.records .history-list > li a {
  display: flex;
  gap: 1rem;
  border-bottom: none;
  color: #2b3843;
}
.records .latest-list .item-img {
  flex-shrink: 0;
  width: 4.375rem;
  margin-bottom: -0.25rem;
}
.records .latest-list .item-img img {
  border-radius: 0.75rem;
}
.records .latest-list .item-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}
.records .latest-list .item-info .item-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.records .latest-list .item-info .item-date {
  font-size: 0.75rem;
  color: #999999;
}
.records .history-list .item-info {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.records .history-list .item-info .item-cont {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
.records .history-list .item-info .item-cont .item-amount {
  min-width: 3.25rem;
  text-align: right;
}
.records .history-list .item-info .item-cont .item-amount.positive {
  color: #29cc6a;
}
.records .history-list .item-info .item-cont .item-amount.negative {
  color: #fc5555;
}
.records .history-list .item-info .item-serial {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  color: #666666;
  font-size: 0.75rem;
}
.records .history-list .item-info .item-serial span {
  padding: 0.125rem 0.25rem;
  color: #666666;
  border-radius: 0.25rem;
  border: 0.0625rem solid #666666;
}
.records .history-list .item-info .item-serial i {
  font-size: 1.25rem;
  color: #2B3843;
  cursor: pointer;
  transition-duration: 0s;
}
@media (hover: hover) {
  .records .history-list .item-info .item-serial i:hover {
    color: #212b33;
  }
}
.records .history-list .item-info .item-statusndate {
  font-size: 0.75rem;
}
.records .history-list .item-info .item-statusndate span {
  color: #999999;
}
.records .history-list .item-info .item-statusndate span:not(:last-child) {
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  border-right: 0.0625rem solid #999999;
}
@media (max-width: 1024px) {
  .index-footer {
    margin-bottom: 5.375rem;
  }
}

.container.topup {
  width: 46.25rem;
  margin: auto;
  padding: 8.75rem 6.25rem 0;
}
@media (max-width: 1024px) {
  .container.topup {
    width: 100svw;
    padding: 5.375rem 1.25rem 1.25rem;
  }
}

.topup-card {
  background-color: #ffffff;
  border-radius: 0.75rem;
  padding: 2.5rem;
  box-shadow: 0 0 1.25rem #dde9f2;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.topup-card .input-icon i {
  display: none;
}
@media (max-width: 1024px) {
  .topup-card {
    padding: 1.25rem;
  }
  .topup-card .input-icon i {
    display: inline;
  }
}

.topup-title p {
  margin-top: 0.25rem;
  font-size: 0.875rem;
}

.topup-note {
  font-size: 0.75rem;
  color: #999999;
}

.topup-buy {
  margin-top: 1.25rem;
  text-align: center;
  font-size: 0.875rem;
}
.topup-buy a {
  font-weight: 400;
}

.container.setting {
  width: 46.25rem;
  margin: auto;
  padding: 6.625rem 6.25rem 2.5rem;
}
@media (max-width: 1024px) {
  .container.setting {
    width: 100svw;
    padding: 5.375rem 1.25rem 2.5rem;
  }
}
.container.setting section.transform.active {
  display: block;
  animation: fallin 1.5s;
}
@keyframes fallin {
  from {
    opacity: 0;
    transform: translateY(80px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.container.setting .setting-item li {
  padding: 1rem 0;
  border-bottom: 1px #eff1f3 solid;
  cursor: pointer;
}
.container.setting .setting-item li:last-child {
  border: none;
}
.container.setting .setting-item li a {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  border: none;
}
@media (hover: hover) {
  .container.setting .setting-item li a:hover i.be-icon {
    transform: translateX(0.25rem);
  }
}
.container.setting .setting-item li p {
  font-size: 1rem;
  font-weight: 500;
  color: #2b3843;
  flex: 1;
}
.container.setting .setting-item li .status {
  padding: 0.25rem 0.75rem;
  font-size: 0.75rem;
  font-weight: 500;
  color: #666666;
  border-radius: 99px;
  background-color: #f7f7f7;
}
.container.setting .setting-item li .status.active {
  color: #26D07C;
  background-color: #DFF7E9;
}
.container.setting .setting-item li i.be-icon {
  color: #999999;
}
.container.setting .unlocked {
  align-items: center;
}
@media (max-width: 1024px) {
  .container.setting .unlocked {
    padding: 2.5rem;
  }
}
.container.setting .unlocked .empty {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  font-size: 0.875rem;
  color: #666666;
  text-align: center;
}
.container.setting .unlocked .empty .state-img {
  width: 8.125rem;
  height: auto;
  margin: 0 auto;
}
.container.setting .lock .input-icon i {
  display: block;
}
.container.setting .lock .input-icon i.icon_visibility-off::before {
  content: "\e91c";
  color: #999;
}
.container.setting .lock .input-icon i.icon_visibility::before {
  content: "\e91b";
  color: #999;
}
.container.setting .game li {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: 1px #eff1f3 solid;
}
.container.setting .game li:last-child {
  border-bottom: none;
}
.container.setting .game li .game-cont {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  flex: 1;
}
.container.setting .game li .game-cont p {
  font-size: 1rem;
  font-weight: 500;
}
.container.setting .game li .game-cont p.unedited {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  box-sizing: border-box;
}
.container.setting .game li .game-cont .info {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
}
.container.setting .game li .game-cont .info p {
  font-size: 0.75rem;
  font-weight: normal;
  color: #999999;
}
.container.setting .game li .game-cont .info p:first-child::after {
  content: "|";
  padding-left: 0.5rem;
  font-size: 0.75rem;
  color: #999999;
}
@media (max-width: 516px) {
  .container.setting .game li .game-cont .info {
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
  }
  .container.setting .game li .game-cont .info p:first-child::after {
    display: none;
  }
}
.container.setting .game li button {
  width: 2.5rem;
  height: 2.5rem;
  overflow: hidden;
  padding: 0;
  border-radius: 99px;
  background-color: #f7f7f7;
}
.container.setting .game li button::before {
  font-size: 1.25rem;
  color: #2b3843;
}
.container.setting .game li button.edit::before {
  font-family: "icomoon";
  content: "\e91e";
}
.container.setting .game li button.del::before {
  font-family: "icomoon";
  content: "\e91f";
}
@media (hover: hover) {
  .container.setting .game li button:hover {
    background-color: #eeeeee;
  }
}

.container.convert {
  width: 46.25rem;
  margin: auto;
  padding: 6.625rem 6.25rem 2.5rem;
}
@media (max-width: 1024px) {
  .container.convert {
    width: 100svw;
    padding: 5.375rem 1.25rem 2.5rem;
  }
}
.container.convert .convert-list .topup-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.container.convert .convert-list .topup-title a {
  display: flex;
  align-items: center;
  font-size: 0.875rem;
  color: #666666;
  gap: 0.25rem;
  border-bottom: none;
  transition: all 0.3s;
}
.container.convert .convert-list .topup-title a p {
  margin: 0;
  transition: 0.3s;
  border-bottom: 1px solid transparent;
}
@media (hover: hover) {
  .container.convert .convert-list .topup-title a p:hover {
    border-color: #666666;
  }
}
.container.convert .convert-list .topup-title a::before {
  font-family: "icomoon";
  content: "\e901";
  font-size: 1rem;
}
.container.convert .convert-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}
.container.convert .convert-list ul li {
  overflow: hidden;
  border-radius: 1rem;
  position: relative;
}
.container.convert .convert-list ul li a {
  display: block;
  border-bottom: none;
}
.container.convert .convert-list ul li a img {
  display: block;
}
.container.convert .convert-list ul li .convert-list-mask {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.75);
  cursor: auto;
}
.container.convert .convert-list ul li .convert-list-mask p {
  width: 100%;
  text-align: center;
  font-size: 1.5rem;
  font-weight: 500;
  color: #ffffff;
  text-shadow: 0px 1px 4px rgba(0, 0, 0, 0.8);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
@media (max-width: 516px) {
  .container.convert .convert-list ul li .convert-list-mask p {
    font-size: 1rem;
  }
}
.container.convert .input-icon.copy i {
  display: flex;
  align-items: center;
}
.container.convert .input-icon.copy i::before {
  font-size: 1.5rem;
  color: #2b3843;
}
.container.convert .bitcash .points {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 0.5rem;
  padding: 0.25rem 0 1rem;
  border-bottom: 1px #dddddd solid;
  font-size: 1.125rem;
  font-weight: 500;
}
.container.convert .bitcash .points p:first-child {
  flex: 1;
}
.container.convert .bitcash .points span {
  font-size: 1rem;
}
.container.convert .bitcash .points img {
  width: 1.375rem;
}
.container.convert .bitcash-list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container.convert .bitcash-list p {
  font-size: 1rem;
  font-weight: 500;
}
.container.convert .bitcash-list ul {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.container.convert .bitcash-list ul li input {
  display: none;
}
.container.convert .bitcash-list ul li input:checked + label {
  border: 1px #2B3843 solid;
}
.container.convert .bitcash-list ul li input:disabled + label {
  color: #999999;
  cursor: auto;
}
@media (hover: hover) {
  .container.convert .bitcash-list ul li input:disabled + label:hover {
    background-color: #f7f7f7;
    border: 1px #f7f7f7 solid;
  }
}
.container.convert .bitcash-list ul li input:disabled + label img {
  filter: grayscale(100%);
  opacity: 0.3;
}
.container.convert .bitcash-list ul li label {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 0.75rem;
  background-color: #f7f7f7;
  border: 1px #f7f7f7 solid;
  border-radius: 0.75rem;
  cursor: pointer;
}
@media (hover: hover) {
  .container.convert .bitcash-list ul li label:hover {
    background-color: #eeeeee;
    border: 1px #eeeeee solid;
  }
}
.container.convert .bitcash-list ul li label .bp,
.container.convert .bitcash-list ul li label .gp {
  display: flex;
  flex-direction: row;
  align-items: end;
  gap: 0.25rem;
  font-weight: 500;
}
.container.convert .bitcash-list ul li label .bp {
  font-size: 1rem;
}
.container.convert .bitcash-list ul li label .bp img {
  width: 1.25rem;
}
.container.convert .bitcash-list ul li label .gp {
  padding: 0.375rem 0.625rem;
  background-color: #ffffff;
  border-radius: 6.1875rem;
  font-size: 0.75rem;
}
.container.convert .bitcash-list ul li label .gp img {
  width: 1rem;
}
.container.convert .bitcash-list ul li .pay {
  display: block;
  justify-content: center;
  width: 100%;
  box-sizing: border-box;
  transition: 0.1s ease;
  vertical-align: middle;
}
.container.convert .bitcash .input-checkbox {
  padding-bottom: 0.25rem;
}
.container.convert .input-icon i {
  display: block;
}
.container.convert .input-icon i.icon_visibility-off::before {
  content: "\e91c";
  color: #999;
}
.container.convert .input-icon i.icon_visibility::before {
  content: "\e91b";
  color: #999;
}
.container.convert .convert-records .index-note {
  margin-top: 1rem;
  background-color: #f7f7f7;
  padding: 0.75rem;
  border-radius: 0.75rem;
  font-size: 0.875rem;
  text-align: left;
}
.container.convert .convert-records .index-note a {
  font-weight: 500;
}
.container.convert .convert-records .index-note .info {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  color: #999999;
}
.container.convert .convert-records .index-note .info::before {
  font-family: "icomoon";
  content: "\e916";
}
.container.convert .convert-records .item-info .item-cont .item-title {
  display: flex;
  align-items: end;
  font-weight: 500;
}
.container.convert .convert-records .item-info .item-cont .item-title img {
  width: 1.375rem;
  margin-right: 0.25rem;
}
.container.convert .convert-records .item-info .item-cont .item-amount {
  min-width: auto;
  display: flex;
  flex-direction: row;
  align-items: end;
  font-size: 0.75rem;
  color: #999999;
}
.container.convert .convert-records .item-info .item-cont .item-amount img {
  width: 0.9375rem;
  margin-right: 0.25rem;
  filter: grayscale(100%);
  opacity: 0.3;
}
.container.convert .convert-records .item-info .item-statusndate {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
}
.container.convert .convert-records .item-info .item-statusndate ul {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.container.convert .convert-records .item-info .item-statusndate button {
  min-width: auto;
  padding: 0.375rem 1rem;
  font-size: 0.75rem;
}
.container.convert .mission-swiper {
  position: relative;
  width: 100%;
  overflow: hidden;
}
.container.convert .mission-swiper .swiper-pagination {
  display: flex;
  border-bottom: 0.0625rem solid #eff1f3;
  position: relative;
  margin-bottom: 1rem;
  background-color: white;
}
.container.convert .mission-swiper .swiper-pagination-bullet {
  flex: 1;
  border-radius: 0;
  background-color: transparent;
  padding: 0.75rem 1rem;
  margin: 0;
  height: auto;
  font-size: 0.9375rem;
}
.container.convert .mission-swiper .swiper-pagination-bullet-active {
  border-bottom: 0.1875rem solid #2B3843;
}
.container.convert .mission-swiper .swiper-pagination.fixed {
  position: fixed;
  top: 4.375rem;
  left: 50%;
  transform: translateX(-50%);
  height: 2.75rem;
  width: 33.75rem;
}
.container.convert .mission-swiper .swiper-slide > ul > li:not(:last-child) {
  border-bottom: 0.0625rem solid #eff1f3;
}
.container.convert .mission-swiper .swiper-slide > ul > li a {
  display: flex;
  gap: 1rem;
  padding: 1rem 0;
  border-bottom: none;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .img {
  flex: 4.375rem;
  max-width: 4.375rem;
  align-self: flex-start;
  position: relative;
  border-radius: 0.75rem;
  overflow: hidden;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .img img {
  border-radius: 0.75rem;
  margin-bottom: -0.375rem;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 0.125rem;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info .chips {
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info .chips > li {
  padding: 0.125rem 0.25rem;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info h6 {
  font-weight: 500;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info .expiration {
  font-size: 0.75rem;
  color: #999999;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info .point {
  display: flex;
  align-items: center;
  gap: 0.25rem;
  font-size: 0.75rem;
  font-weight: 500;
  padding: 0.21875rem 0;
}
.container.convert .mission-swiper .swiper-slide > ul > li a .list-info .point img {
  flex: 1rem;
  max-width: 1rem;
}
.container.convert .mission-swiper .swiper-slide > ul > li.used a .img span, .container.convert .mission-swiper .swiper-slide > ul > li.expired a .img span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  word-break: keep-all;
  color: white;
  font-size: 0.75rem;
  line-height: 2;
  padding: 0.0625rem 0.625rem;
  border: 1px solid white;
  border-radius: 3.125rem;
  z-index: 1;
}
.container.convert .mission-swiper .swiper-slide > ul > li.used a .img::after, .container.convert .mission-swiper .swiper-slide > ul > li.expired a .img::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 0;
}
.container.convert .mission-swiper .swiper-slide .empty {
  text-align: center;
  padding: 2.5rem 1.25rem;
}
.container.convert .mission-swiper .swiper-slide .empty img {
  max-width: 5.5rem;
  margin: 0 auto;
}
.container.convert .mission .inpage {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container.convert .mission .inpage .chips {
  margin-bottom: -0.5rem;
  display: flex;
  gap: 0.5rem;
  font-size: 0.75rem;
}
.container.convert .mission .inpage .chips > li {
  padding: 0.125rem 0.25rem;
  background-color: #f7f7f7;
  border-radius: 0.25rem;
}
.container.convert .mission .inpage h6 {
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1.2;
}
.container.convert .mission .inpage .main-img {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border-radius: 0.5rem;
}
.container.convert .mission .inpage .main-img img {
  border-radius: 0.5rem;
}
.container.convert .mission .inpage .main-img span {
  display: none;
  position: absolute;
  z-index: 1;
  color: white;
  border-radius: 6.25rem;
  padding: 0.25rem 0.75rem;
  border: 0.0625rem solid white;
}
.container.convert .mission .inpage .main-img.used span, .container.convert .mission .inpage .main-img.expired span {
  display: block;
}
.container.convert .mission .inpage .main-img.used::after, .container.convert .mission .inpage .main-img.expired::after {
  content: "";
  position: absolute;
  z-index: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
}
.container.convert .mission .inpage .btn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.container.convert .mission .inpage .event-details {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
.container.convert .mission .inpage .event-details p {
  font-size: 0.75rem;
}
.container.convert .mission .inpage .event-details p span {
  display: inline-block;
  margin-right: 0.5rem;
  color: #999999;
}
.container.convert .mission .inpage .info {
  font-size: 0.875rem;
}
.container.convert .mission .inpage .gained {
  margin-top: 1rem;
  padding-top: 1rem;
  border-top: 0.0625rem solid #eff1f3;
  text-align: center;
}
.container.convert .mission .inpage .gained p {
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
.container.convert .mission .inpage .gained p.sub {
  font-size: 0.75rem;
  color: #999999;
  margin-top: 0.5rem;
}
.container.convert .mission .inpage .gained .input-icon.copy input {
  padding: 0.75rem 0.5rem;
  color: #2B3843;
}
@media (max-width: 1024px) {
  .container.convert .mission-swiper .swiper-pagination.fixed {
    left: calc(50% + 0.3125rem);
    width: calc(100svw - 2.5rem);
  }
}
.container.convert .mission-code {
  text-align: center;
  color: #cccccc;
  font-size: 0.75rem;
  margin-top: 0.5rem;
  margin-bottom: 7.5rem;
}
@media (max-width: 1024px) {
  .container.convert .mission-code {
    margin-bottom: 5rem;
  }
}
.container.convert .cart-comfirm__button {
  color: #999;
}
.container.convert .cart-comfirm__button img {
  margin-right: -0.25rem;
}
.container.convert .cart-comfirm__button:disabled img {
  filter: grayscale(100%);
  opacity: 0.5;
}

.convert-modal {
  text-align: center;
}
.convert-modal h3,
.convert-modal h2 {
  font-weight: 500;
}
.convert-modal h2 {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  font-size: 2rem;
  margin: 0.75rem 0;
  line-height: 1.5;
}
.convert-modal h2 img {
  max-width: 2rem;
  transform: translateY(0.125rem);
}
.convert-modal .input-icon {
  margin: 0.75rem 0;
}
.convert-modal .input-icon input {
  padding: 0.75rem 0.5rem;
}

.scratch-container {
  margin: 0 auto;
  text-align: center;
}
.scratch-container canvas {
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
  border-radius: 0.75rem;
  aspect-ratio: 1/1;
  width: 100%;
}