.modal {
  // display: none;
  // position: fixed;
  // top: 0;
  // bottom: 0;
  // left: 0;
  // right: 0;
  // background-color: rgba(color(black), .75);
  // z-index: 99;

  &-dialog {
    width: size(450);
    max-width: calc(100svw - size(40));
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: color(white);
    border-radius: size(20);
    padding: size(40);
    z-index: 100;

    @include max-to(mobile) {
      padding: size(40) size(20);
    }

    .topup-card.lock {
      padding: 0;
      box-shadow: none;
    }
  }

  &-close-btn {
    position: absolute;
    top: size(16);
    right: size(16);
    font-size: size(24);
    color: color(gray-8);
    cursor: pointer;
  }

  &-container {
    display: flex;
    flex-direction: column;
    gap: size(12);

    .btnBox {
      padding-top: size(8);
      flex-direction: column;

      button {
        width: 100%;
        gap: size(12);
      }
    }
  }

  &-title {
    p {
      font-size: size(14);
      margin-top: size(8);
    }
  }

  &-slot {
    min-height: size(40);
    font-size: size(14);
    line-height: 1.2;

    span {
      padding: 0 size(4);
      color: color(second);
    }
  }

  &-content {
    padding: size(24) size(40);
    text-align: center;

    img {
      max-width: size(150);
    }
  }
}

// 遮罩
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(color(black), 0.75);
  z-index: 99;
}
