.notice {
  position: fixed;
  font-size: size(16);
  left: 0;
  right: 0;
  top: 0;
  text-align: center;
  padding: size(12);
  color: color(white);
  background: linear-gradient(170deg, #e72e6b 70%, #f3973d 90%);
  z-index: 999;

  @include max-to(pad) {
    font-size: size(12);
    line-height: 2;
    text-align: left;
    background: linear-gradient(150deg, #e72e6b 60%, #f3973d 90%);
  }
}
